<div id="map"></div>

<script>
  var x = {{ page.leaflet_data.markers[0].x }}
  var y = {{ page.leaflet_data.markers[0].y }}
  
  var map = L.map('map').setView([x, y], 13);
  
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  
  {% comment %} 
    see https://leafletjs.com/examples/quick-start/ 
  {% endcomment %}
  
  {% for marker in page.leaflet_data.markers do %}
    /* var marker = */ L.marker([{{ marker.x }}, {{ marker.y }}]).addTo(map);
  {% endfor %}
  
  {% for 
</script>
